<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="server">
        <property name="LOG_FILE" value="log/indexsearch-server.log"/>
    </springProfile>
    <springProfile name="client">
        <property name="LOG_FILE" value="log/indexsearch-client.log"/>
    </springProfile>
    <springProfile name="default">
        <property name="LOG_FILE" value="log/indexsearch.log"/>
    </springProfile>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/indexsearch.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level --- [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level --- [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="client">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="server,default">
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
